@import "blog1.css";
@import "blog2.css";
@import "social.css";
.grid-container {
    display: grid;
    grid-auto-columns: minmax(auto, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: "hd hd hd hd hd hd" "bp bp bp bp bi bi" "ft ft ft ft ft ft";
    background-color: rgb(14, 17, 190);
    padding: 10px;
    grid-column-gap: 25px;
    grid-row-gap: 5px;
    justify-content: left;
}

.blogblock {
    display: grid;
    background-color: rgb(252, 249, 96);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 3vw;
    text-align: left;
    grid-area: bp;
    word-wrap: break-word;
}

.picture {
    display: grid;
    background-color: rgb(252, 249, 96);
}

.header {
    grid-area: hd hd hd hd hd hd hd;
    background-image: url('../images/cloudsHeader.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-position: left;
}

#blogheader {
    font-size: 4vw;
}

.picture {
    grid-area: bi;
}

#picture1 {
    max-height: 90%;
    max-width: 100%;
}

#picture2 {
    max-height: 90%;
    max-width: 100%;
}

.grid-item3 {
    background-color: rgb(252, 249, 96);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

.grid-containerblog {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 232, 243);
    padding: 50px;
    justify-content: left;
}

.grid-itempicture {
    height: 500px;
    background-position: left;
}

.navbar {
    display: flex;
    flex-direction: row;
    float: center;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bio {
    position: relative;
    display: inline-block;
}

.biotext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: rgb(252, 249, 96);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.bio:hover .biotext {
    visibility: visible;
}